.container {
  @apply
    flex
    flex-row
    justify-between
    w-full
    sm:h-8 
    md:h-12
    lg:h-14
    xl:h-16
    p-2
    bg-background
    items-center
    ;

    &title {
      @apply
      cursor-pointer
      text-green-dark
      text-xl
      ;
    }
}
